[submodule ".emacs.d/elisp/jinja2-mode"]
	path = .emacs.d/elisp/jinja2-mode
	url = git://github.com/paradoxxxzero/jinja2-mode.git
[submodule ".emacs.d/elisp/emacs-for-python"]
	path = .emacs.d/elisp/emacs-for-python
	url = git://github.com/gabrielelanaro/emacs-for-python.git
[submodule ".emacs.d/elisp/multi-web-mode"]
	path = .emacs.d/elisp/multi-web-mode
	url = git://github.com/fgallina/multi-web-mode.git
[submodule ".emacs.d/elisp/highlight-parentheses"]
	path = .emacs.d/elisp/highlight-parentheses
	url = git://github.com/nschum/highlight-parentheses.el.git
[submodule ".emacs.d/elisp/coffee-mode"]
	path = .emacs.d/elisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/elisp/rfringe"]
	path = .emacs.d/elisp/rfringe
	url = git://github.com/emacsmirror/rfringe.git
[submodule ".emacs.d/elisp/js2-mode"]
	path = .emacs.d/elisp/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule ".emacs.d/elisp/fill-column-indicator"]
	path = .emacs.d/elisp/fill-column-indicator
	url = git://github.com/alpaker/Fill-Column-Indicator.git
[submodule ".emacs.d/elisp/lua-mode"]
	path = .emacs.d/elisp/lua-mode
	url = git://github.com/immerrr/lua-mode.git
[submodule ".emacs.d/elisp/minimap"]
	path = .emacs.d/elisp/minimap
	url = git://randomsample.de/minimap.git
[submodule ".emacs.d/elisp/sqlindent"]
	path = .emacs.d/elisp/sqlindent
	url = git://github.com/emacsmirror/sql-indent.git
[submodule ".emacs.d/elisp/mingus"]
	path = .emacs.d/elisp/mingus
	url = git://github.com/pft/mingus.git
[submodule ".emacs.d/elisp/yaml-mode"]
	path = .emacs.d/elisp/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/elisp/full-ack"]
	path = .emacs.d/elisp/full-ack
	url = git://github.com/nschum/full-ack.git
[submodule ".emacs.d/elisp/sass-mode"]
	path = .emacs.d/elisp/sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule ".emacs.d/elisp/scss-mode"]
	path = .emacs.d/elisp/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule ".emacs.d/elisp/haml-mode"]
	path = .emacs.d/elisp/haml-mode
	url = git://github.com/nex3/haml-mode.git
[submodule ".emacs.d/elisp/pretty-mode"]
	path = .emacs.d/elisp/pretty-mode
	url = git://github.com/paradoxxxzero/pretty-mode.git
[submodule ".emacs.d/elisp/flymake"]
	path = .emacs.d/elisp/flymake
	url = git://github.com/illusori/emacs-flymake.git
[submodule ".emacs.d/elisp/flymake-cursor"]
	path = .emacs.d/elisp/flymake-cursor
	url = git://github.com/illusori/emacs-flymake-cursor.git
[submodule ".emacs.d/elisp/pylookup"]
	path = .emacs.d/elisp/pylookup
	url = git://github.com/tsgates/pylookup.git
[submodule ".emacs.d/elisp/undo-tree"]
	path = .emacs.d/elisp/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
[submodule ".emacs.d/elisp/nyan-mode"]
	path = .emacs.d/elisp/nyan-mode
	url = git://github.com/TeMPOraL/nyan-mode.git
[submodule ".emacs.d/elisp/mark-multiple"]
	path = .emacs.d/elisp/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule ".emacs.d/elisp/pyregexp"]
	path = .emacs.d/elisp/pyregexp
	url = git://github.com/benma/pyregexp.git
[submodule ".emacs.d/elisp/shell-parse"]
	path = .emacs.d/elisp/shell-parse
	url = git://github.com/malloc47/shell-parse.el.git
[submodule ".emacs.d/elisp/powerline"]
	path = .emacs.d/elisp/powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
[submodule ".emacs.d/elisp/less-css-mode"]
	path = .emacs.d/elisp/less-css-mode
	url = git://github.com/purcell/less-css-mode.git
[submodule ".emacs.d/elisp/multiple-cursors"]
	path = .emacs.d/elisp/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/elisp/expand-region"]
	path = .emacs.d/elisp/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/elisp/org-redmine"]
	path = .emacs.d/elisp/org-redmine
	url = git://github.com/gongo/org-redmine.git
[submodule ".emacs.d/elisp/ack-mode"]
	path = .emacs.d/elisp/ack-mode
	url = git://github.com/sudish/ack-mode.el.git
[submodule ".emacs.d/elisp/ack-and-a-half"]
	path = .emacs.d/elisp/ack-and-a-half
	url = git://github.com/jhelwig/ack-and-a-half.git
[submodule ".emacs.d/elisp/emacs-jedi"]
	path = .emacs.d/elisp/emacs-jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule ".emacs.d/elisp/emacs-epc"]
	path = .emacs.d/elisp/emacs-epc
	url = git://github.com/kiwanami/emacs-epc.git
[submodule ".emacs.d/elisp/emacs-deferred"]
	path = .emacs.d/elisp/emacs-deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule ".emacs.d/elisp/auto-complete"]
	path = .emacs.d/elisp/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/elisp/emacs-ctable"]
	path = .emacs.d/elisp/emacs-ctable
	url = git://github.com/kiwanami/emacs-ctable.git
[submodule ".emacs.d/elisp/popup-el"]
	path = .emacs.d/elisp/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/elisp/flymake-easy"]
	path = .emacs.d/elisp/flymake-easy
	url = git://github.com/purcell/flymake-easy.git
[submodule ".emacs.d/elisp/flymake-sass"]
	path = .emacs.d/elisp/flymake-sass
	url = git://github.com/purcell/flymake-sass.git
[submodule ".emacs.d/elisp/emacs-git-gutter"]
	path = .emacs.d/elisp/emacs-git-gutter
	url = git://github.com/syohex/emacs-git-gutter.git
[submodule ".emacs.d/elisp/virtualenv.el"]
	path = .emacs.d/elisp/virtualenv.el
	url = git://github.com/aculich/virtualenv.el.git
[submodule ".emacs.d/elisp/zencoding"]
	path = .emacs.d/elisp/zencoding
	url = git://github.com/smihica/zencoding.git
