*.elc
.emacs.d/autosave/*
.emacs.d/auto-save-list/*
.emacs.d/ac-comphist.dat
.emacs.d/backups/*
.emacs.d/eproject.lst
.emacs.d/session.*
.emacs.d/tramp
.emacs.d/%backup%~
.emacs.d/abbrev_defs
.emacs.d/eshell/

.emacs.d/autosaves/
